/* typography style */
/**
* @see https://www.shadcn-vue.com/docs/typography.html
*/

.papyrus-root {
    --block-margin: 0.5rem;
}

.papyrus-editor-content .tiptap {
    width: 100%;
    height: 100%;
    padding: var(--editor-content-padding);
    overflow: auto;

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
        @apply scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    h4,
    h5,
    h6 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }

    p {
        @apply leading-7 [&:not(:first-child)]:mt-[--block-margin];
    }

    p.is-empty::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    hr {
        @apply my-8;
    }

    hr.ProseMirror-selectednode {
        border-top: 1px solid #68CEF8;
    }

    ul {
        /* margin-left 1rem , ensure list style correct*/
        @apply list-disc list-inside my-6 ml-4 [&>li]:mt-[--block-margin];
    }

    ol {
        @apply list-decimal ml-4;
    }

    ul[data-type="taskList"] {

        p {
            margin: 0;
        }

        li {
            @apply flex items-baseline;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }

            ul li,
            ol li {
                display: list-item;
            }

            ul[data-type="taskList"]>li {
                display: flex;
            }
        }
    }

    /* fix https://github.com/ueberdosis/tiptap/issues/118 */
    li>p:first-child {
        display: inline;
        margin: 0;
    }


    blockquote {

        @apply mt-[--block-margin] border-l-2 pl-6 italic;

        /* display: block;
        margin: 10px 0;
        position: relative; */
        /* &:before {
            @apply block w-0.5 rounded-sm bg-gray-300 absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
        } */
    }

    code {
        @apply rounded bg-muted p-[0.25rem] font-mono text-sm font-semibold;
    }

    pre {
        @apply mt-[--block-margin] bg-muted;

        code {
            @apply block;
        }
    }

    a {
        @apply text-blue-600 no-underline hover:underline cursor-pointer;
    }


    /* table */
    table {
        @apply border-collapse table-fixed w-full overflow-hidden;
        /* tr {
            @apply m-0 border-t p-0 even:bg-muted;
        } */

        th,td {
            @apply relative border-2 px-4 py-2 text-left bg-clip-padding;
        }

        th {
            @apply bg-muted font-bold;
        }

        .selectedCell {
            background-color: rgba(200, 200, 255, 0.4);
        }

        .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
        }

    }

}


.papyrus-editor-content .ProseMirror-focused {
    outline: none;
}